*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #1C1C1C;
  width: 100%; }

::selection {
  background-color: #F3182C;
  color: #fff; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #737373; }

.heading-primary {
  color: #fff;
  font-weight: 100;
  font-size: 3.5rem; }

.heading-secondary {
  color: #cacaca;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #cacaca; }

.heading-fourtiary {
  font-size: 1.5rem;
  font-weight: 400;
  color: #cacaca;
  text-align: center; }

.paragraph {
  font-size: 1.4rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-padding-left-right {
  padding: 0 2rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  background-color: #F3182C;
  font-family: 'Abel', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #fff;
  border-radius: 2px;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none; }

.form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden; }
  .form__group {
    position: relative; }
  .form__input {
    font-family: inherit;
    font-size: 1.3rem;
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #646362;
    border-radius: 2px;
    color: #fff;
    font-weight: 100; }
    .form__input--option {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 1.5rem 2rem;
      font-family: inherit;
      font-size: 1.3rem;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #646362;
      border-radius: 2px;
      color: #646362;
      font-weight: 100;
      height: 5rem; }
      .form__input--option:focus {
        outline: none; }
    .form__input:focus {
      outline: none;
      border: 1px solid #908D90;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
      .form__input:focus:invalid {
        border: 1px solid #F3182C;
        color: #F3182C; }
  .form__label {
    display: block;
    position: absolute;
    top: -1.5rem;
    left: 0; }

.footer {
  flex-basis: 5vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem; }
  .header__logo {
    width: 10rem;
    height: 5rem;
    fill: currentColor; }

.main-menu {
  display: flex;
  list-style-type: none;
  font-size: 1.4rem; }
  .main-menu__link {
    margin-left: 3rem; }
  .main-menu__link:link, .main-menu__link:visited {
    color: #908D90;
    text-decoration: none;
    display: inline-block;
    transition: all .5s; }
  .main-menu__link:hover {
    color: #cacaca; }

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; }

.section-main {
  display: flex;
  height: 100%; }

.section-video {
  flex: 1 1 45%;
  position: relative; }
  .section-video__text {
    width: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-grid {
  display: flex;
  flex-wrap: wrap; }
  .section-grid__box {
    border: 1px dashed red;
    flex-grow: 1;
    flex-basis: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .section-grid__box--1 {
      background-image: linear-gradient(to right bottom, rgba(22, 22, 22, 0.9), rgba(24, 24, 24, 0.8)), url(../img/s.jpg);
      background-size: cover;
      background-position: top; }
    .section-grid__box--2 {
      flex-basis: 50%; }
    .section-grid__box--3 {
      flex-basis: 10%; }
    .section-grid__box--7 {
      height: 20%; }

.icon-youtube2 {
  width: 90%;
  fill: #646362;
  transform: rotate(90deg);
  transition: .3s; }

.icon-youtube2:hover {
  fill: #908D90; }
