*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 70%; } }

body {
  box-sizing: border-box;
  background-color: #1C1C1C;
  width: 100%;
  -webkit-font-smoothing: antialiased; }

::selection {
  background-color: #F3182C;
  color: #fff; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #737373; }

.heading-primary {
  color: #fff;
  font-weight: 100;
  font-size: 3.5rem; }

.heading-secondary {
  color: #cacaca;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #cacaca; }

.heading-fourtiary {
  font-size: 1.5rem;
  font-weight: 400;
  color: #cacaca;
  text-align: center; }

.paragraph {
  font-size: 1.4rem; }

.paragraph-slim {
  font-size: 1.4rem;
  font-weight: 100; }

.paragraph-footer {
  font-size: 1.1rem;
  font-weight: 100; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-padding-left-right {
  padding: 0 2rem; }

.color-primary {
  color: #F3182C; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  background-color: #F3182C;
  font-family: 'Abel', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #fff;
  border-radius: 2px;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none; }

.btn2, .btn2:link, .btn2:visited {
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #cacaca;
  border: none;
  cursor: pointer;
  transition: all .5s; }

.btn2:active, .btn2:focus, .btn2:hover {
  outline: none;
  color: #F3182C; }

.btn-form, .btn-form:link, .btn-form:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  background-color: #F3182C;
  font-family: 'Abel', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 5rem;
  border: none;
  cursor: pointer; }

.btn-form:active, .btn-form:focus {
  outline: none; }

.form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .form {
      flex-direction: column;
      justify-content: space-between;
      padding: 4rem 2rem;
      overflow: visible; } }
  .form__group {
    position: relative;
    width: calc(100%/4 - 10px); }
    @media only screen and (max-width: 56.25em) {
      .form__group {
        width: 100%;
        margin-top: 4rem; } }
  .form__input {
    font-family: inherit;
    font-size: 1.3rem;
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #646362;
    border-radius: 2px;
    color: #fff;
    font-weight: 100;
    width: 100%; }
    .form__input--option {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 1.5rem 2rem;
      font-family: inherit;
      font-size: 1.3rem;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #646362;
      border-radius: 2px;
      color: #646362;
      font-weight: 100;
      width: 100%;
      height: 5rem; }
      .form__input--option:focus {
        outline: none; }
    .form__input:focus {
      outline: none;
      border: 1px solid #908D90;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
      .form__input:focus:invalid {
        border: 1px solid #F3182C;
        color: #F3182C; }
  .form__label {
    display: block;
    position: absolute;
    top: -1.5rem;
    left: 0; }

.footer {
  flex-basis: 5vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem; }
  .header__logo {
    width: 10rem;
    height: 5rem;
    fill: currentColor; }

.navigation {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.navi-toggle {
  display: none;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navi-toggle {
      display: flex; } }

.burger {
  z-index: 20; }
  .burger .navi-icon {
    width: 2rem;
    height: 2px;
    background-color: #737373;
    position: relative;
    margin-top: 1rem;
    display: inline-block; }
  .burger .navi-icon::after {
    content: "";
    width: 2rem;
    height: 2px;
    background-color: #737373;
    position: absolute;
    top: -.5rem;
    left: 0;
    transition: all .1s; }
  .burger .navi-icon::before {
    content: "";
    width: 2rem;
    height: 2px;
    background-color: #737373;
    position: absolute;
    top: .5rem;
    left: 0;
    transition: all .2s; }

.main-menu {
  display: flex;
  list-style-type: none;
  font-size: 1.4rem; }
  .main-menu__link {
    margin-left: 3rem; }
  .main-menu__link:link, .main-menu__link:visited {
    color: #908D90;
    text-decoration: none;
    display: inline-block;
    transition: all .5s; }
  .main-menu__link:hover {
    color: #F3182C; }

@media only screen and (max-width: 56.25em) {
  .navi-toggle.active ~ .main-menu {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: 1; }
  .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    opacity: 0;
    width: 0;
    height: 0;
    background-image: linear-gradient(to right bottom, #161616, #2E2E2E);
    display: flex;
    flex-direction: column;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-menu__link {
      margin-top: 5rem; } }

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      height: 100%; } }

.section-main {
  display: flex;
  overflow: hidden;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-main {
      display: block;
      flex-direction: column; } }

.section-video {
  flex: 0 1 30%;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .section-video {
      flex: 0 1 50%; } }
  @media only screen and (max-width: 56.25em) {
    .section-video {
      flex: 0 1 100%;
      height: 70vh; } }
  .section-video__text {
    width: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-grid {
  flex: 0 1 70%;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 75em) {
    .section-grid {
      flex: 0 1 50%; } }
  @media only screen and (max-width: 56.25em) {
    .section-grid {
      flex: 0 1 100%;
      height: 100%; } }
  .section-grid__box {
    flex-grow: 1;
    flex-basis: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .section-grid__box {
        flex-basis: 50%;
        height: 40vh; } }
    .section-grid__box--1 {
      background-image: linear-gradient(to right bottom, rgba(22, 22, 22, 0.9), rgba(24, 24, 24, 0.8)), url(../img/s.jpg);
      background-size: cover;
      background-position: top;
      padding: 0 1rem; }
    .section-grid__box--2 {
      flex-basis: 50%; }
    .section-grid__box--3 {
      flex-basis: 10%;
      background-image: linear-gradient(45deg, #161616, #1C1C1C); }
    .section-grid__box--4 {
      background-image: linear-gradient(to right bottom, rgba(22, 22, 22, 0.9), rgba(24, 24, 24, 0.9)), url(../img/m.jpg);
      background-size: cover;
      background-position: top;
      position: relative; }
    .section-grid__box--5 {
      background-image: linear-gradient(to right bottom, rgba(22, 22, 22, 0.9), rgba(24, 24, 24, 0.9)), url(../img/m2.jpg);
      background-size: cover;
      background-position: top;
      position: relative; }
    .section-grid__box--6 {
      background-image: linear-gradient(to right bottom, rgba(22, 22, 22, 0.99), rgba(24, 24, 24, 0.9)), url(../img/okuma.jpg);
      background-size: cover;
      background-position: top;
      position: relative; }
    .section-grid__box--7 {
      height: 20%;
      background-image: linear-gradient(135deg, #1C1C1C, #161616); }
      @media only screen and (max-width: 56.25em) {
        .section-grid__box--7 {
          order: -1;
          flex: 0 1 100%;
          height: 100%; } }

.icon-youtube2 {
  width: 60%;
  fill: #646362;
  transform: rotate(90deg);
  transition: .4s; }
  @media only screen and (max-width: 75em) {
    .icon-youtube2 {
      width: 40%;
      transform: rotate(0deg); } }

.icon-youtube2:hover {
  fill: #F3182C; }

.wraper-box {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between; }
  .wraper-box__contact-box {
    width: 100%;
    background-image: linear-gradient(to right bottom, #161616, #1C1C1C);
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .wraper-box__contact-box {
        flex-direction: column;
        flex-wrap: wrap; } }
    @media only screen and (max-width: 56.25em) {
      .wraper-box__contact-box {
        flex-direction: column;
        justify-content: space-around; } }
    .wraper-box__contact-box--caption-left {
      background-color: #161616;
      width: 30%;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: .2s ease-in-out; }
      .wraper-box__contact-box--caption-left::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #F3182C;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translate(0%, -50%); }
      .wraper-box__contact-box--caption-left:hover {
        width: 50%; }
      @media only screen and (max-width: 75em) {
        .wraper-box__contact-box--caption-left {
          display: none; } }
    .wraper-box__contact-box--caption-right {
      background-color: #161616;
      width: 30%;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: .2s ease-in-out; }
      .wraper-box__contact-box--caption-right::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #F3182C;
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translate(0%, -50%); }
      .wraper-box__contact-box--caption-right:hover {
        width: 50%; }
      @media only screen and (max-width: 75em) {
        .wraper-box__contact-box--caption-right {
          display: none; } }
