*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #1C1C1C; }

::selection {
  background-color: #F3182C;
  color: #fff; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #737373; }

.heading-primary {
  color: #fff;
  font-weight: 100;
  font-size: 3.5rem; }

.heading-secondary {
  color: #cacaca;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #cacaca; }

.heading-fourtiary {
  font-size: 1.5rem;
  font-weight: 400;
  color: #cacaca;
  text-align: center; }

.paragraph {
  font-size: 1.4rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-padding-left-right {
  padding: 0 2rem; }

.footer {
  flex-basis: 5vh;
  border: 1px solid red; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 10vh;
  padding: 0 2rem; }
  .header__logo {
    width: 9rem;
    height: 4rem;
    fill: currentColor; }

.main-menu {
  display: flex;
  list-style-type: none;
  font-size: 1.4rem; }
  .main-menu__link {
    margin-left: 3rem; }
  .main-menu__link:link, .main-menu__link:visited {
    color: #908D90;
    text-decoration: none;
    display: inline-block;
    transition: all .5s; }
  .main-menu__link:hover {
    color: #cacaca; }

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
