.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-basis: 10vh;
    padding: 2rem 2rem;

    &__logo {
        width: 10rem;
        height: 5rem;
        // stroke: currentColor;
        fill: currentColor;
    }

}