.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 10vh;
    padding: 0 2rem;

    &__logo{
        width: 9rem;
        height: 4rem;
        // stroke: currentColor;
        fill: currentColor;
    }

}
