.main-menu {
    display: flex;
    list-style-type: none;
    font-size: $default-font-size;

    &__item{}

    &__link{
        margin-left: 3rem;
    }

    &__link:link,
    &__link:visited {
        color: $color-grey-7;
        //text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        
        transition: all .5s;
    }

    &__link:hover {
        color: $color-grey-8;
    }
}