.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    @media only screen and (max-width: $bp-medium) {
        height: 100%;
    }
}

.section-main {
    display: flex;
    overflow: hidden;
    height: 100%;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.section-video {
    // background-color: #1a1a19;

    flex: 0 1 30%;
    position: relative;

    @media only screen and (max-width: $bp-largest) {
        flex: 0 1 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        flex: 0 1 100%;
        // width: 100%;
        height: 70vh;
    }

    &__text {
        width: 100%;
        padding: 0 2rem;

        @include absCenter;
    }
}

.section-grid {
    flex: 0 1 70%;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-largest) {
        flex: 0 1 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        flex: 0 1 100%;
        height: 140vh;
    }

    &__box {
        // border: 1px dashed red;
        flex-grow: 1;
        flex-basis: 30%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @media only screen and (max-width: $bp-largest) {
            // flex-grow: 1;
            flex-basis: 50%;
            // width: 50%;
            height: 26%;
        }

        &--1 {
            background-image: linear-gradient(to right bottom,
                rgba($color-grey-1, .9),
                rgba($color-grey-2, 0.8)),
                url(../img/s.jpg);

            background-size: cover;
            background-position: top;
            padding: 0 1rem;
        }

        &--2 {
            flex-basis: 50%;
        }

        &--3 {
            flex-basis: 10%;
            background-image: linear-gradient(45deg, $color-grey-1, $color-grey-3);

        }

        &--4 {
            background-image: linear-gradient(to right bottom,
                rgba($color-grey-1, .9),
                rgba($color-grey-2, .9)),
                url(../img/m.jpg);

            background-size: cover;
            background-position: top;
            position: relative;
        }

        &--5 {
            background-image: linear-gradient(to right bottom,
                rgba($color-grey-1, .9),
                rgba($color-grey-2, .9)),
                url(../img/m2.jpg);

            background-size: cover;
            background-position: top;
            position: relative;
        }

        &--6 {
            background-image: linear-gradient(to right bottom,
                rgba($color-grey-1, .99),
                rgba($color-grey-2, .9)),
                url(../img/okuma.jpg);

            background-size: cover;
            background-position: top;
            position: relative;

        }

        &--7 {
            // flex-basis: 100%;
            height: 20%;
            background-image: linear-gradient(135deg, $color-grey-3, $color-grey-1);

            @media only screen and (max-width: $bp-medium) {
                order: -1;
                flex: 0 1 100%;
            }
        }
    }

}

.icon-youtube2 {
    width: 90%;
    fill: $color-grey-5;
    // fill: $color-primary;
    transform: rotate(90deg);
    transition: .4s;

    @media only screen and (max-width: $bp-largest) {
        width: 60%;
        transform: rotate(0deg);
    }
}

.icon-youtube2:hover {
    // fill: $color-grey-7;
    fill: $color-primary;
}

///////////////////////////box 2
.wraper-box {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;


    &__contact-box {
        width: 100%;
        background-image: linear-gradient(to right bottom, $color-grey-1, $color-grey-3);
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-largest) {
            // flex-direction: row;
            // justify-content: space-around;
            flex-wrap: wrap;
        }

        @media only screen and (max-width: $bp-medium) {
            flex-direction: row;
            justify-content: space-around;
            // flex-wrap: wrap;
        }

        &--caption-left {
            background-color: $color-grey-1;
            width: 30%;
            padding: 0 1rem;
            @include flexVerticalCenter;
            position: relative;
            transition: .2s ease-in-out;

            &::after {
                content: "";
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid $color-primary;
                position: absolute;
                top: 50%;
                right: -10px;
                transform: translate(0%, -50%);
            }

            &:hover {
                width: 50%;
            }

            @media only screen and (max-width: $bp-largest) {
                display: none;
            }
        }

        &--caption-right {
            background-color: $color-grey-1;
            width: 30%;
            padding: 0 1rem;
            @include flexVerticalCenter;
            position: relative;
            transition: .2s ease-in-out;

            &::after {
                content: "";
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid $color-primary;
                position: absolute;
                top: 50%;
                left: -10px;
                transform: translate(0%, -50%);
            }

            &:hover {
                width: 50%;
            }

            @media only screen and (max-width: $bp-largest) {
                display: none;
            }
        }
    }
}

///////end box 2